<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
         
          <th>EmployeeId</th>
          <th>EmployeeName</th>
          <th>Email </th>
          <th>IT-Item</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <!-- <input type="checkbox"> -->
          <td>{{employee.empid}}</td>
          <td>{{employee.empname}}</td>
          <td>{{employee.emailid}}</td>
          <td>{{employee.itteam}}</td>
          <td>{{employee.description}}</td>
          
         

          <!-- <td> <input type="checkbox" (click)="deleteEmployee(employee.id)">Resolved -->
          <td><button (click)="deleteEmployee(employee.id)" class="btn btn-info">Resolved</button>
          <!-- <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>  -->
              <button (click)="employeeDetails(employee.id)" class="btn btn-danger" style="margin-left: 10px">UnResolved</button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

